@import '../../app.scss';

.kontakDataWrapper{
    width:100%;
    display:flex;
    flex-direction:column;
}
.kontaktTitleWrapper{
    width:100%;
    height:25%;
    display:flex;
    align-items: center;

    & .contactData-headline{
        color:map-get($light-colors, primary);
        @include tablet{
            font-size: 20px;
        }
    }
}
.kontaktData{
    width:100%;
    height:75%;
    padding:5px;
    list-style: none;

    & li{
        margin-top: 10px;
        color:map-get($light-colors, primary);
    }
    & .contactData-email{
        word-wrap: break-word;
    }
}