@import '../../app.scss';

.bild-container{
    height:100%;
    width:50%;
    @include mobile{
        height:50%;
    }
}
.imgWrapper{
    width:100%;
    height:100%;
}
.img{
    width: 100%;
    height:100%;
    @include flex($position:center);
    & img{
        @include mobile{
            width:900px;
            height:1200px;
        }
    }
}